{% include 'header.twig' %}


<main id="notLogin">
            <div id="resetPassword" class="mt-5">
  <div class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="highlight-lside">
            <div class="hlight-box">
               <div class="row align-items-center">
                  <div class="col-md-3">
                     <i class="fal fa-phone-laptop icon"></i>
                  </div>
                  <div class="col-md-9">
                     <div>
                        <h4 class="hlight-first">Device Compatibility</h4>
                        <p class="hlight-second">Our site is fully compatible with all desktop and mobile devices you are using.</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="hlight-box">
               <div class="row align-items-center">
                  <div class="col-md-3">
                     <i class="fal fa-credit-card icon"></i>
                  </div>
                  <div class="col-md-9">
                     <div>
                        <h4 class="hlight-first">Secure Payment</h4>
                        <p class="hlight-second">Thanks to the secure payment activation on our site, you can pay by credit card or money order.</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="hlight-box">
               <div class="row align-items-center">
                  <div class="col-md-3">
                     <i class="fal fa-smile icon"></i>
                  </div>
                  <div class="col-md-9">
                     <div>
                        <h4 class="hlight-first">Quality Service</h4>
                        <p class="hlight-second">We are always working to increase the satisfaction rate by providing cheap and quality services.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="reset_Card">
                <div class="card card_v2">
                    <div class="card-body p-4">
                      <div id="def_side_title" class="mb-5">
                          <div class="icon">
                            <i class="fas fa-lock"></i>
                          </div>
                          <div class="name">
                            Reset your password
                          </div>
                      </div>
                      
        <form method="post" action="">

 {% if errorText %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ errorText }}
        </div>
      {% endif %}
      {% if successText %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ successText }}
        </div>
      {% endif %}

 <div class="form-group mb-3">
                              <label for="Username" class="control-label mb-2">
                                <span class="icon">
                                  <i class="fas fa-envelope"></i>
                                </span> 
                                <span class="Username">
                                    {{ lang['resetpassword.user'] }}</span>
                              </label>
                              
        <input type="text" class="form-control" name="user" value="{{ data['user'] }}" placeholder="{{ lang['resetpassword.user.placeholder'] }}">
                            </div>
                            
                            
          {% if captcha %}
            <div class="form-group">
              <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
            </div>
          {% endif %}


    <div class="col-md-12 mb-5 mb-md-0">
    <input type="hidden" name="crsf_token" value="{{ csrf_token() }}">
    <button type="submit" class="btn btn-primary btn-lg btn-block">{{ lang['resetpassword.button'] }}</button>
												</div>
       	</div>
												</div>

											</div>

										</form>
									</div>
								</div>
							</div>
 
 
						</div>
					</div>

                </div>
            </div>
        </div>
    </div>


{% include 'footer.twig' %}